body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

.header {
    background-image: url("images/degradado.jpg");
    background-size: cover;
    height: 15vh;
    position: relative;
}

.main-icon {
    margin: 0;
    position: absolute;
    left: 12%;
    bottom: -25%;
}

.title {
    margin-left: 12%;
    margin-top: 1.5em;
    margin-bottom: 0;
    font-weight: bolder;
}

.container {
    padding: 4px;
    margin-left: 12%;
    margin-top: 2.5em;
}

h3 {
    margin: 0;
    margin-bottom: 0.75em;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4vh;
}

.footer-text {
    font-size: 0.5em;
}

h3:hover {
    color: red;
    font-size: 1.5em;
}

