/* pattern {
    margin
    padding
    border
    height
    width
    background
    color
    font
    display
} */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}
.header {
    margin: 0;
    padding: 0;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.me {
    margin: 0 0 0 32px;
    padding: 0;
    width: 80px;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 1s all;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

}

.me:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}
h1 {
    margin: 0 32px 0 0;
    padding: 0; 
    font-family: "Rubik Doodle Shadow";
    font-size: 2.5rem;
    transition: 1s all;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
h1:hover {
    color: grey;
    transform: scale(1.1);
}
.main {
    margin: 0;
    padding: 0;
    height: 75vh;
    display: flex;
}
.main-container {
    margin: auto;
    padding: 0;
    border-radius: 16px;
    box-shadow: 0 0 20px grey;
    height: 54vh;
    width: 330px;
    background-color: #f3f2f1;
    position: relative;
}
.top-bar {
    margin: auto;
    padding: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 5vh;
    width: 100%;
    background-color: #e1dfdd;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
}
.more {
    margin: 0;
    margin-left: 1.1rem;
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: "RubiK";
    font-size: 1.5rem;
    font-weight: bold;

}
.more:hover {
    color: rgb(196, 196, 196)
}
.options {
    margin: 0;
    margin-top: 5vh;
    padding: 0;
    border: none;
    width: 100%;
    height: 18vh;
    background-color: white;
    display: none;
    flex-direction: column;
}

.visible {
    display: flex;
}

.nonVisible {
    display: none;
}

.colors {
    margin: 0;
    padding: 0;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.color-button {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.yellow {
    background-color: #fff7d1;
}
.green {
    background-color: #e4f9e0;
}
.blue {
    background-color: #e2f1ff;
}
.pink {
    background-color: #ffe4f1;
}
.grey {
    background-color: #f3f2f1;
}
.notes-list {
    margin: 0;
    padding: 0;
    height: 50%;
    display: flex;
    align-items: center;
}
.notes-list:hover {
    background-color: rgb(196, 196, 196);
}
.list-svg {
    margin-left: 1.1rem;
    height: 50%;
}
.listofnotes {
    margin: 0;
    margin-left: 1rem;
    padding: 0;
    font-family: "RubiK";
    font-weight: normal;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.welcome-div {
    margin: 0;
    margin-top: 8vh;
    padding: 0;
}
.welcome {
    margin: 0px 1.1rem;
    padding: 0;
    font-family: "RubiK";
    font-weight: normal;
    text-align: left;
    line-height: 1.4;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.seleccionable {
    margin: 0px 1.1rem;
    padding: 0;
    font-family: "RubiK";
    font-weight: normal;
    text-align: left;
    line-height: 1.4;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}

.list-div {
    margin: 0;
    margin-top: 8vh;
    padding: 0;
    font-family: "RubiK";
    font-weight: normal;
    display: none;
    flex-direction: column;
    text-align: left;
}
.item {
    margin: 0px 1.1rem 1.1rem 0px;
    padding: 0;
    font-family: "RubiK";
    font-weight: normal;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.item:hover {
    font-weight: bolder;
    cursor: pointer;
}
.footer {
    margin: 0;
    padding: 0;
    height: 5vh;
    background-color: black;
    font-family: "Rubik Scribble";
    font-size: 0.9rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
p {
    margin: 0;
    font-weight: bolder;
    text-align: center;
}
@media (min-width: 650px) {
    h1 {
        font-size: 4rem;
    }
  }

  @media (max-width: 380px) {
    .header{
        display: flex;
        justify-content: center;
    }
    .me {
        display: none;
    }
    h1 {
        margin: 0;
    }
}

  @media (max-width: 360px) {
    .main-container {
        width: 90%;
    }
}

    @media (max-width: 360px) {
    .main-container {
        width: 90%;
    }
}

    @media (max-width: 480px) {
        .me {
            filter: grayscale(0);
            pointer-events: none;
        }
        
        h1 {
            pointer-events: none;
        }
  }