/* pattern {
    margin
    padding
    border
    height
    width
    background
    color
    font
    display
} */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}
.header {
    margin: 0;
    padding: 0;
    height: 20vh;
    background-image: url("images/degradado.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
}
.img-container {
    margin: 0;
    padding: 0;
    width: 20%;
    display: flex;
}
.owl {
    margin: auto;
    padding: 0;
    width: 40px;
    user-select: none;
    pointer-events: none;
}
.branch-container {
    margin: 0;
    padding: 0;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    user-select: none;
}
h1 {
    margin: 0;
    margin-right: 0.5rem;
    padding: 0; 
    font-family: "Rubik Doodle Shadow";
    font-size: 2.5rem;
    user-select: none;
}
h1:hover {
    color: white
}
.main {
    margin: 0;
    padding: 0;
    height: 75vh;
    display: flex;
}
.main-container {
    margin: auto;
    padding: 0;
    border-radius: 16px;
    box-shadow: 0 0 20px grey;
    height: 54vh;
    width: 330px;
    background-color: #fff7d1;
    position: relative;
}
.top-bar {
    margin: auto;
    padding: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 5vh;
    width: 100%;
    background-color: #fff2ab;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
}
.more {
    margin: 0;
    margin-left: 1.1rem;
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: "RubiK";
    font-size: 1.5rem;
    font-weight: bold;
    user-select: none;
}
.more:hover {
    color: rgb(196, 196, 196)
}
.options {
    margin: 0;
    margin-top: 5vh;
    padding: 0;
    border: none;
    width: 100%;
    height: 18vh;
    background-color: white;
    display: none;
    flex-direction: column;
}

.visible {
    display: flex;
}

.nonVisible {
    display: none;
}

.colors {
    margin: 0;
    padding: 0;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.color-button {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.yellow {
    background-color: #fff7d1;
}
.green {
    background-color: #e4f9e0;
}
.blue {
    background-color: #e2f1ff;
}
.pink {
    background-color: #ffe4f1;
}
.grey {
    background-color: #f3f2f1;
}
.notes-list {
    margin: 0;
    padding: 0;
    height: 50%;
    display: flex;
    align-items: center;
}
.notes-list:hover {
    background-color: rgb(196, 196, 196);
}
.list-svg {
    margin-left: 1.1rem;
    height: 50%;
}
.listofnotes {
    margin: 0;
    margin-left: 1rem;
    padding: 0;
    font-family: "RubiK";
    font-weight: normal;
    text-align: left;
    user-select: none;
}
.welcome-div {
    margin: 0;
    margin-top: 8vh;
    padding: 0;
}
.welcome {
    margin: 0;
    margin-left: 1.1rem;
    padding: 0;
    font-family: "RubiK";
    font-weight: normal;
    text-align: left;
    user-select: none;
}
.list-div {
    margin: 0;
    margin-top: 8vh;
    margin-left: 1.1rem;
    padding: 0;
    font-family: "RubiK";
    font-weight: normal;
    display: none;
    flex-direction: column;
    text-align: left;
    user-select: none;
}
.item {
    margin-bottom: 0.7rem;
    margin-left: 0;
    padding: 0;
    font-family: "RubiK";
    font-weight: normal;
    text-align: left;
    user-select: none;
}
.item:hover {
    font-weight: bolder;
    cursor: pointer;
}
.footer {
    margin: 0;
    padding: 0;
    height: 5vh;
    background-color: black;
    font-family: "Rubik Scribble";
    font-size: 0.9rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    margin: 0;
    font-weight: bolder;
    text-align: center;
    user-select: none;
}
@media (min-width: 650px) {
    h1 {
        margin-right: 2rem;
        font-size: 4rem;
    }
    .owl {
        width: 75px;
    }
  }

  @media (max-width: 340px) {
    .header{
        display: flex;
        justify-content: center;
    }
    .img-container {
        display: none;
    }
    .branch-container {
        display: flex;
        justify-content: center;
    }
    h1 {
        margin: 0;
    }
  }

  @media (max-width: 360px) {
    .main-container {
        width: 90%;
    }
  }

  